.TodoSearch {
    background: #F9FBFC;
    border-radius: 10px;
    margin: 0 2%;
    height: 50px;
    width: 95%;
    border: none;
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #0000009e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #11121238;
  }